.idea/.idea.OpenTelemetryAspireDashboard/.idea/.gitignore
.idea/.idea.OpenTelemetryAspireDashboard/.idea/indexLayout.xml
.idea/.idea.OpenTelemetryAspireDashboard/.idea/vcs.xml
WebApi/bin/Debug/net8.0/appsettings.Development.json
WebApi/bin/Debug/net8.0/appsettings.json
WebApi/bin/Debug/net8.0/Google.Protobuf.dll
WebApi/bin/Debug/net8.0/Grpc.Core.Api.dll
WebApi/bin/Debug/net8.0/Grpc.Net.Client.dll
WebApi/bin/Debug/net8.0/Grpc.Net.Common.dll
WebApi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
WebApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
WebApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Api.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Api.ProviderBuilderExtensions.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Exporter.Prometheus.AspNetCore.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Extensions.Hosting.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Instrumentation.AspNetCore.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Instrumentation.GrpcNetClient.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Instrumentation.Http.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Instrumentation.Process.dll
WebApi/bin/Debug/net8.0/OpenTelemetry.Instrumentation.Runtime.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/bin/Debug/net8.0/WebApi
WebApi/bin/Debug/net8.0/WebApi.deps.json
WebApi/bin/Debug/net8.0/WebApi.dll
WebApi/bin/Debug/net8.0/WebApi.pdb
WebApi/bin/Debug/net8.0/WebApi.runtimeconfig.json
WebApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WebApi/obj/Debug/net8.0/apphost
WebApi/obj/Debug/net8.0/staticwebassets.build.json
WebApi/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
WebApi/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
WebApi/obj/Debug/net8.0/WebApi.assets.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.CopyComplete
WebApi/obj/Debug/net8.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net8.0/WebApi.dll
WebApi/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/Debug/net8.0/WebApi.genruntimeconfig.cache
WebApi/obj/Debug/net8.0/WebApi.GlobalUsings.g.cs
WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
WebApi/obj/Debug/net8.0/WebApi.pdb
WebApi/obj/Debug/net8.0/ref/WebApi.dll
WebApi/obj/Debug/net8.0/refint/WebApi.dll
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApi.props
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApi.props
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApi.props
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/project.packagespec.json
WebApi/obj/rider.project.model.nuget.info
WebApi/obj/rider.project.restore.info
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/WebApi.csproj.nuget.g.targets
